@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik-VariableFont_wght.ttf);
  }

@font-face{
    font-family: Nunito;
    src: url(fonts/Nunito-VariableFont_wght.ttf)
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Rubik, sans-serif;
    color: #3C3027;
    font-size:1em;
    overflow-x: hidden;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

p{
    line-height:1.5em;
}

h1{
    font-size: 3em;
    padding-bottom:0.25em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.6em;
}

h4{
    font-size:0.95em;
}

h5{
    font-size:5em;
}

/* -------------- navbar -------------- */

nav{
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF6EB;
    position: sticky;
    z-index:4;
}

.navlogo{
    float:left;
    padding: 0 65px;
    margin-top:15px;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;

}

.hover-rotate {
    overflow: visible;
    width: 100%;
  }
  
  .hover-rotate img {
    transition: all 0.2s;
    max-width: 100%;
  }
  
  .hover-rotate:hover img {
    transform: scale(1.1) rotate(2deg);
  }


nav ul li a{
    color: #3C3027;
    font-size: 1.5em;
    padding: 15px;
    transition: 0.15s;
}

.navli1:hover{
    color:#E44D3A;
    transition: 0.2s;
}

.navli2:hover{
    color:#F6BB43;
    transition: 0.2s;
}

.navli3:hover{
    color:#A3BC31;
    transition: 0.2s;
}

.navli4:hover{
    color:#63B0F3;
    transition: 0.2s;
}


.checkbtn{
    font-size: 30px;
    color: #3C3027;
    float: right;
    line-height: 70px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1000px){

    nav ul li a{
        font-size: 1.25em;
    }
}

@media (max-width:880px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#FFF6EB;
        top:70px;
        left: -100%;
        text-align:center;
        transition: all .5s;
        border-top: #f8e8d5 2px solid;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size:1.75em;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .navlogo{
        padding: 0 20px;
    }

}

/* -------------- footer -------------- */

footer{
    float:inline-end;
    border-top:#ECEBEA 0.5px solid;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10em;
    padding-top: 10px;
    padding-bottom:10px;
    z-index: -1;
}

.footnote{
    color:#6D645D;
    line-height: 1.25em;
}
/* -------------- about -------------- */

.aboutcontainer{
    padding:8%;
    padding-left: 18%;
    padding-right: 18%;
    text-align: justify;
}

.abouttxt a{
    color: #F6BB43;
    text-decoration: 1px underline solid #F6BB43;
    text-underline-offset:2px;
}

.hello{
    float:left;
    max-width: 100%;
    height: auto;
    margin-right: 8%;
    margin-bottom: 8%;

}

.button1{
    border: none;
    background-color: #E44D3A;
    transition: all 0.2s;
    color: white;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 32px;
}

.abouttxt .button1{
    margin-right: 10px;
    margin-bottom: 10px;
}

.button2{
    border: none;
    background-color: #F6BB43;
    transition: all 0.2s;
    color: white;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    padding: 15px 32px;
    border-radius: 40px;
}

.button1:hover{
    background-color: #EC8477;
    transition: all 0.2s;
}

.button2:hover{
    background-color: #F9D07D;
    transition: all 0.2s;
}

/* -------------- slider -------------- */
#slider{
    overflow: hidden;
    width:100%;
    position: relative;
    text-align: center;
}

.slidertxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#3C3027;
    line-height:4em;
    z-index: 1;
}

.slidertxt p{
    padding-top:1em;
}

.slidertxt .button1{
    margin-top:1em;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    float: left;
    opacity: 0.5;
    filter: grayscale(50%);

}


.fa-arrow-circle-down{
    font-size: 2em;
    color: #3C3027;
    height:100%;
    width: 100%;
}

.arrow{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-top:43%;
    text-align: center;
    
}

@keyframes slider {
    0% {left: 0;}
    20% {left: 0;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
}
/* -------------- main page -------------- */

.hcolumn {
    float: left;
    width: 33.33%;
    padding: 3em;
    background-color: #FFF6EB;
  }

.hcolumn p{
    text-align: center;
    vertical-align: middle;
    line-height: 30px;

}

.hcolumn h2{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.5em;
}

.hcolumn h4{
    text-align: center;
    vertical-align: middle;
    padding-top: 3em;
    padding-bottom: 0.5em;
}

  .hrow:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 1100px) {
    .hcolumn {
      width: 100%;
    }
  }

  .hprojects h1{
      text-align: center;
      padding-bottom: 0.5em;
      padding-top:2em;
  }

  .hprojbox img{
    display: block;
    height:auto;
    max-width: 100%;
    padding:0.5em;
    border-radius: 20px;
    transition: .3s;
}

.hprojbox {
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding-left:9%;
    padding-right:9%;
    padding-bottom: 7em;
}

.hprojbox img:hover{
    opacity: 70%;
}

@media screen and (max-width: 768px) {

    .hprojbox{
        display: block;
        width: 100%;
    }
}

.hprograms{
    background-color: #FFF6EB;
    padding-top:2em;
    padding-bottom: 2em;
    padding-left: 9%;
    padding-right: 9%;
    display:flex;
    justify-content: center;
}

.hprograms h2{
    margin-top:1em;
}

.hprogramsimg{
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding-left:9%;
    padding-right:9%;
    max-width: 100%;
    max-height:100%;
    height:auto;
    width: auto;
}

.hprogramsimg img{
    display: block;
    height:auto;
    max-width: 100%;
    padding:0.5em;
    padding-left:1em;
    padding-right:1em;
    border-radius: 20px;
}


/* -------------- projects page -------------- */

.projbody{
    padding-top:3%;
    padding-bottom: 2em;
    padding-left: 9%;
    padding-right: 9%;
}

.projbody img{
    border-radius: 35px;
    padding:0.5em;
    transition: 0.5s;
}

.projbody img:hover{
    opacity: 0.5;
    
}

.projbody h1{
    text-align: center;
    padding-bottom: 0.5em;
}

.projbox img{
    display: block;
    height:auto;
    max-width: 100%;
    padding:0.5em;
    border-radius: 20px;
    transition: .3s;
}

.projbox {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.projbox1{
    position: relative;
    text-align: center;
}

.projboxtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#3C3027;
  }

.projbox1:hover{
    opacity: 90%;
}

@media screen and (max-width: 768px) {

    .projbox{
        display: block;
        width: 100%;
    }
}

/* -------------- image gallery broski -------------- */

.image-gallery{
    position:relative;
    columns: 4;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    object-fit: cover;
    
}

.illustration{
    display:  inline-block;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.illustration img{
    display:block;
    width: 100%;
    transition: .3s;
    border-radius: 8px;
}

.illustration:hover .gallerytxt{
    display: block;
    transition: 1s;
}

.illustration:hover img{
    filter:blur(1px) grayscale(100%) brightness(50%);
}

.gallerytxt{
    top:50%;
    left:50%;
    position:absolute;
    color:white;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .1s;
    opacity: 0;
}

.illustration:hover .gallerytxt{
    opacity: 1;
}

.gallerytxt a{
    color: white;
}

.gallerytxt .gallerylink{
    border-bottom: 1px solid #63B0F3;
    color: #63B0F3;
}

@media screen and (max-width:1100px){
    .image-gallery{
        columns: 3;
    }

}

@media screen and (max-width:880px){
    .image-gallery{
        columns: 2;
    }
}

@media screen and (max-width:500px){
    .image-gallery{
        columns: 1;
    }
}